
:root {
    --main-color: #FF5959;
    --main-hover-color: #eb4d17;
}

.section-projects strong:hover {
     color: #53C3F5; 
     transition: all 300ms ease 0ms;
} 

body {
    background-color: #f6f7ff;
    color: #fff; /*letras de informacion*/
    line-height: 1.7em;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    /*background-image: linear-gradient(to bottom, rgb(12 14 17), rgb(19 20 32 / 90%)), url(../images/bg.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transition: background 0.2s linear;
}
.form-control {
    color: #85879d;
    border-color: rgba(255, 255, 255, 0.1);
}
.form-control:focus {
    border-color: transparent;
    box-shadow: 0px 0px 4px 0px var(--main-color);
    color: #85879d;
}
.bg-progress {
    background-color: var(--main-hover-color);
}
.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.btn-primary:hover {
    background-color: var(--main-hover-color);
    border-color: var(--main-hover-color);
}
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--main-hover-color);
    border-color: var(--main-hover-color);
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}
.btn-primary.focus,
.btn-primary:focus {
    background-color: var(--main-hover-color);
    border-color: var(--main-hover-color);
    box-shadow: none;
}
.header-content {
    padding: 220px 0;
}
.sidebar {
    background: #4a63e7;
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 15%);
    position: sticky;
    top: 20px;
}
.profile-pic {
    max-width: 120px;
}
.name {
    font-size: 1.5rem;
    color: #fff;
}
.contact-info {
    font-size: 1rem;
}
.contact-info a {
    color: #fcf8f6;
}
.contact-info img {
    filter: invert(1);
    height: 16px;
}
.social-icons ul li {
    display: inline-block;
    margin: 0 2.5px;
}
.social-icons svg {
    width: 18px;
    fill: #fcf8f6;
}
.close-form svg {
    fill: #fff;
    width: 15px;
}
.close-form:focus {
    outline: none;
}
.form-title {
    font-size: 1.1rem;
    color: #fff;
}
.contact-form {
    display: none;
}

.section-intro{
    
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 10%);
}

.section-intro h3{
    color: #000;
}

.section-intro p{
    color: #888888;
}

.section-esp{
    background: #FF5959;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 15%);
    border-radius: 1000px;
}


.section-esp h3{
    color: #FFFFFF;
}


.section-esp li{
    color: #FFFFFF;
}


.section-projects{
    background: #5b72e9;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 15%)
}

.section-projects p strong{
    color: #FFFFFF;
}

.section-projects h3{
    color: #FFFFFF;
}


.section-projects p{
    color: #FFFFFF;
}



.section-skills{
    background: #FF5959;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 15%);

}


.section-skills h3{
    color: #FFFFFF;
}


.section-skills p{
    color: #FFFFFF;
}

.section-skills li{
    color: #FFFFFF;
}


.section {
    background: #161820;
    border: 1px solid rgba(255, 255, 255, 0.01);
}


.content h3 {
   
    font-size: 1.2rem;
    position: relative;
}
.content h3:before {
    content: "";
    width: 45px;
    height: 1px;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.tiny-super {
    color: #c4c9d9;
}


@media (max-width: 767.98px) {
    body {
        font-size: 1rem;
    }

    .content h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 575.98px) {
    body {
        font-size: 0.9rem;
    }
    .content h3 {
        font-size: 1.05rem;
    }
}

/*SWITCH*/

.style-button{

	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

.style-button:hover {
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .style-button {
       font-size: 14px;
       bottom: 20px;
       right: 20px;
   }
} 

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}


body.dark {
	background: #292C35;
    transition: background 0.2s linear;
}

body.dark .sidebar {
    background: #161820;
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 0%);

}

body.dark .section-intro {
	background: #161820;
    transition: background 0.2s linear;
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 0%);

}

body.dark .section-esp {
	background: #161820;
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 0%);

    transition: background 0.2s linear;
}


body.dark .section-projects {
	background: #161820;
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 0%);

    transition: background 0.2s linear;
}


body.dark .section-projects  p{
    color: #858797;
    transition: background 0.2s linear;
}

body.dark .section-skills {
	background: #161820;
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 0%);

    transition: background 0.2s linear;
}

body.dark .section-intro  h3{
	color: #FFFFFF;
    transition: background 0.2s linear;
}

body.dark .section-intro  p{
	color: #858797;
    transition: background 0.2s linear;
}

body.dark li{
	color: #858797;
    transition: background 0.2s linear;
}

body.dark p{
	color: #858797;
    transition: background 0.2s linear;
}